.hero {
    background-color: #C4C4C4;
    background-image: var(--gradient),
    url(../images/background_mob@1x.jpg);
    background-repeat: no-repeat;
    text-align: Center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 118px 0px;
    @include retina {
        background-image: var(--gradient), 
        url(../images/background_mob@2x.jpg);
        }
    @include mobile {
        background-image: var(--gradient),
        url(../images/background_tab@1x.jpg);
        @include retina {
        background-image: var(--gradient),
        url(../images/background_tab@2x.jpg);
                        }
    }
    @include tablet {
    background-image: var(--gradient),
    url(../images/background_des@1x.jpg);
    @include retina {
        background-image: var(--gradient),
        url(../images/background_des@2x.jpg);
    }
}
    @include desktop {
    padding: 200px 0px;
    }
 
}


.hero__title {
    @include font(900, 26px, 1.62, 0.06em);
    color: var(--primary-white-color);
    margin-bottom: 30px;
    @include desktop {
        @include font(900, 44px, 1.36, 0.06em);
    }
}

.hero__btn {
    display: inline-block;
    @extend %button;
    @include font(700, 16px, 1.88, 0.06em);
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    transition: text-shadow 250ms var(--cubic);
    &:hover,
    &:focus {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}



