:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-background-color: #F5F5F5;
    --second-background-color: #F5F4FA;
    --svg: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
